$colors: (
    primarry: #F05454,
    text: #30475E,
    bg: #EEEEEE
);

@function color($name) {
    @return map-get($colors, $name);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: color(bg);
    color: color(text);
    overflow-x: hidden;
}

nav {
    display: flex;
    width: 100vw;
    height: 72px;
    padding: 0 15%;
    justify-content: space-between;
    align-items: center;

    .brand {
        font-family: 'Quicksand';
        font-size: 1.5rem;
        font-weight: bold;
        color: color(primarry);
    }

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {
            margin: 0 0 0 4rem;
            list-style-type: none;

            a {
                color: color(text);
                text-decoration: none;
            }

            @media (max-width: 1200px) {
                margin: 0;
                padding: .2rem 1rem;
                border-right: 2px solid color(primarry);
                transition: .2s ease-in-out;

                &:hover {
                    background-color: color(primarry);
                }
            }
        }

        @media (max-width: 1200px) {
            position: absolute;
            display: none;
            min-width: 5vw;
            height: 256px;
            top: 72px;
            right: 10%;
            padding: 2rem 1rem;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            background-color: darken(color(bg), 10%);
            z-index: 10;
        }
    }

    .fas {
        display: none;
        font-size: 1.5rem;

        &:hover {
            cursor: pointer;
        }

        @media (max-width: 1200px) {
            display: block;
        }
    }

    @media (max-width: 1400px) {
        padding: 0 10%;
    }
}

header {
    display: grid;
    width: 100vw;
    min-height: 512px;
    padding: 0 15%;
    grid-template-columns: 512px 1fr;

    img {
        width: 512px;
        height: 512px;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    .intro {
        display: flex;
        padding: 0 0 0 6rem;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-family: 'Quicksand';
            font-size: 3rem;

            @media (max-width: 500px) {
                font-size: 2rem;
            }
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 100;
            margin: 1.5rem 0 4rem;
            padding: .5rem 0 .5rem 1rem;
            border-left: 2px solid color(primarry);

            @media (max-width: 500px) {
                font-size: 1rem;
            }
        }

        .cta {

            a {
                display: inline-block;
                color: color(primarry);
                text-decoration: none;

                &:first-of-type {
                    padding: .5rem 1.5rem;
                    border: 2px solid color(primarry);
                    border-radius: 1rem;
                }

                &:last-of-type {
                    margin: 0 0 0 2rem;

                    @media (max-width: 500px) {
                        display: block;
                        text-align: center;
                        margin: 2rem 0 0;
                    }
                }

                @media (max-width: 500px) {
                    display: block;
                    text-align: center;
                }
            }
        }

        @media (max-width: 1200px) {
            padding: 0;
        }
    }

    @media (max-width: 1400px) {
        padding: 0 10%;
    }

    @media (max-width: 1200px) {
        grid-template-columns: 1fr;
    }
}

main {
    width: 100vw;
    padding: 8rem 15% 0;

    section {
        width: 100%;
        margin: 0 0 12rem;

        .sectionTitle {
            width: fit-content;
            margin: auto;
            text-align: center;

            & > div {
                display: flex;
                width: 12rem;
                height: 7px;
                margin: 0 0 .25rem;
                justify-content: space-between;
                align-items: center;

                & > div {
                    height: 3px;
                    border: 2px solid color(bg);
                    border-radius: 1rem;
                    box-sizing: content-box;
                }

                & > div:nth-of-type(1),
                & > div:nth-of-type(5) {
                    width: 1.5rem;
                    background-color: lighten(color(primarry) , 20%);
                }

                & > div:nth-of-type(2),
                & > div:nth-of-type(4) {
                    width: 2rem;
                    background-color: lighten(color(primarry) , 10%);
                }

                & > div:nth-of-type(3) {
                    width: 3rem;
                    background-color: color(primarry);
                }
            }

            h2 {
                font-family: 'Quicksand';
                font-weight: bold;
            }
        }
    }
}